* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	/* background-color: #006400; */
	background-color: #0a0a23;
	color: #f5f6f7;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

h1 {
	font-size: 30px;
	letter-spacing: 2.5px;
	margin-bottom: 25px;
}

a {
	color: #f5f6f7;
}

li {
	font-size: 22.5px;
	letter-spacing: 1.8px;
	margin: 20px 0;
}

