@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding-top: 50px;
}

nav {
	background-color: #111;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	z-index: 100;
}

/*This applies to the navigation and footer */

ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li a {
	color: #fff;
	padding: 15px;
	/* text-decoration: none; */
}

h2 {
	text-align: center;
}

section {
	padding: 20px;
	margin: 15px auto 0;
}

.bg-red {
	background-color: #e74c3c;
	color: #fff;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 700px;
	margin: 0 auto;
}

.tribute-info {
	margin: 0 10px;
	max-width: 450px;
}

.responsive-img {
	display: block;
	max-width: 100%;
}

.img-div p {
	background-color: #eee;
	font-size: 12px;
	margin: 0;
	padding: 5px;
	text-align: center;
}

.video-wrapper {
	margin: 10px;
}

.twitter-tweet {
	max-width: 300px;
}

.social-ul {
	font-size: 32px;
}

footer {
	background-color: #111;
	color: #fff;
	padding: 15px;
	text-align: center;
}
